<%= render "shared/flash_messages" %>
<h1 class="page-title text-dark text-center text-uppercase fw-lighter mt-4">profile</h1>
<h5 class="page-title text-dark text-center">プロフィール</h5>
<div class="container px-4 px-lg-5 my-5 text-center">
  <div class="card mx-auto" style="width: 18rem;">
    <% if @user.profile_image? %>
      <%= image_tag @user.profile_image.url, class:"card-image-top img-fluid mx-auto rounded-top" %>
    <% else %>
      <%= image_tag "https://#{ENV['AWS_BUCKET_NAME']}.s3.#{ENV['AWS_REGION']}.amazonaws.com/app-images/defaultIcon.png", class:"card-image-top img-fluid mx-auto rounded-top" %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= current_user.username %></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="bi bi-envelope"></i>メールアドレス : <%= current_user.email %></li>
    </ul>
    <div class="card-body">
      <%= link_to "編集", "edit", data: {"turbolinks" => false}, class:"btn btn-primary" %>
    </div>
  </div>
</div>
