<%= render "shared/flash_messages" %>
<div id="myCarousel" class="carousel slide carousel-fade mb-6" data-bs-ride="carousel" data-bs-theme="light" data-bs-pause="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <%= image_tag("https://#{ENV['AWS_BUCKET_NAME']}.s3.#{ENV['AWS_REGION']}.amazonaws.com/app-images/paeria.jpg", alt:"パエリア", class: "bd-placeholder-img", width: "100%", height: "100%", preserve_aspect_ratio: "xMidYMid slice", focusable: "false") %>
      <div class="container">
        <div class="carousel-caption">
          <%= render "carouselcaption" %>
        </div>
      </div>
    </div>
    <div class="carousel-item">
    <%= image_tag("https://#{ENV['AWS_BUCKET_NAME']}.s3.#{ENV['AWS_REGION']}.amazonaws.com/app-images/pizza.jpg", alt:"ピザ", class: "bd-placeholder-img", width: "100%", height: "100%", preserve_aspect_ratio: "xMidYMid slice", focusable: "false") %>
      <div class="container">
        <div class="carousel-caption">
          <%= render "carouselcaption" %>
        </div>
      </div>
    </div>
    <div class="carousel-item">
    <%= image_tag("https://#{ENV['AWS_BUCKET_NAME']}.s3.#{ENV['AWS_REGION']}.amazonaws.com/app-images/yakitori.jpg", alt:"焼き鳥", class: "bd-placeholder-img", width: "100%", height: "100%", preserve_aspect_ratio: "xMidYMid slice", focusable: "false") %>
      <div class="container">
        <div class="carousel-caption">
          <%= render "carouselcaption" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2 class="fw-normal"><i class="bi bi-question-circle-fill"></i>&ensp;How to Use?</h2>
    <div class="col-lg-6">
    <i class="bi bi-share-fill" style="font-size: 5rem;"></i>
      <h2 class="fw-normal">みんなでお店を共有</h2>
      <div>日本で海外の食事が楽しめるお店はありませんか？</div>
      <div>お気に入りのお店をみんなに紹介しよう！</div>
      <p>※お店を紹介するにはログインが必要です。</p>
      <p>
        <%= link_to "restaurants/new", class:"btn btn-warning" do %>
          みんなに紹介する &raquo;
        <% end %>
        </p>
    </div>
    <div class="col-lg-6">
    <i class="bi bi-chat-left-dots-fill" style="font-size: 5rem;"></i>
      <h2 class="fw-normal">実際に行ってレポート</h2>
      <div>紹介されているお店に行ってみて、</div>
      <div>お気に入りの料理やコメントをみんなで共有しよう！</div>
      <p>※レポートをするにはログインが必要です。</p>
      <p>
        <%= link_to "restaurants", class:"btn btn-warning" do %>
          行ったお店を探す &raquo;
        <% end %>
      </p>
    </div>
  </div>
</div>
