<%= render "shared/flash_messages" %>
<div class="form-signin w-100 m-auto">
  <%= image_tag "https://food-travel.s3.ap-northeast-1.amazonaws.com/app-images/logo_black.png", alt: "logo", class: "mt-4 d-block mx-auto", width: 100, height: 100 %>
  <h1 class="h3 mb-3 fw-normal text-center">ログイン</h1>
  <hr>
  <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post do %>
    <div class="googleLogin btn btn-outline-danger w-100 mb-2">
      <i class="bi bi-google"></i>&ensp;googleアカウントでログイン
    </div>
  <% end %>
  <%= link_to users_guest_sign_in_path, method: :post do %>
    <div class="googleLogin btn btn-outline-dark w-100">
      <i class="bi bi-person-circle"></i>&ensp;ゲストでログイン
    </div>
  <% end %>
  <hr>
  <%= form_with model: @user, url: user_session_path do |f| %>
    <div class="form-floating">
      <%= f.text_field :username, class: "form-control", id: "floatingUsername", placeholder: "Username", type: "username" %>
      <label for="floatingUsername">ユーザー名</label>
    </div>
    <div class="form-floating">
      <%= f.password_field :password, class: "form-control", id: "floatingPassword", placeholder: "Password", type: "password" %>
      <label for="floatingPassword">パスワード</label>
    </div>
    <div class="forgotPasswortLink pb-3">
      <i class="bi bi-question-circle"></i>&ensp;<%= link_to "パスワードを忘れた方", new_password_path(resource_name), class: "link" %>
    </div>
    <%= f.submit "ログイン", class: "btn btn-primary w-100 py-2" %>
  <% end %>
  <hr>
  <div class="newLink">
    <%= link_to "新規登録はこちら", new_registration_path(resource_name), class: "link", data: {"turbolinks" => false} %>
  </div>
</div>
