<%= form_with model: restaurant do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.label :name, "お店の名前" %>
      <%= f.text_field :name, class: "form_control" %>
    </div>

    <div class="field">
      <%= f.label :postal_code, "郵便番号" %>
      <%= f.text_field :postal_code, id: "restaurant_postal_code", autocomplete: "postal_code", class: "form_control" %>
    </div>

    <div class="field">
      <%= f.label :address, "住所" %>
      <%= f.text_field :address, id: "restaurant_address", autocomplete: "address", class: "form_control"  %>
    </div>

    <div class="field">
      <%= f.label :country, "どこの国の料理が食べられる？" %>
      <%= f.text_field :country_name, id: "restaurant_country", value: @country ? @country.name : nil %>
      <%= f.hidden_field :country_id, id: "restaurant_country_id" %>
      <div>【この国ですか？】</div>
      <div id="search-result"></div>
    </div>

    <div class="field">
      <%= f.label :image, "お店の外観"%>
      <%= f.file_field :image, class: "form_control" %>
    </div>
    <div id="preview-image"></div>

    <div class="field">
      <%= f.label :memo, "メモ" %>
      <%= f.text_area :memo, class: "form_control" %>
    </div>

    <div class="field">
      <%= f.submit '登録' %>
    </div>
  <% end %>

  <%= link_to "一覧に戻る", restaurants_path %>
  