<div class="container p-4">
<%= link_to restaurants_path, class:"btn btn-dark mb-3" do %>
  <i class="bi bi-arrow-left"></i>一覧に戻る
<% end %>
  <%= form_with model: restaurant do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field mb-3">
      <i class="bi bi-shop"></i>
      <%= f.label :name, "お店の名前" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="field mb-3">
      〒
      <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
      <%= f.text_field :postal_code, id: "restaurant_postal_code", autocomplete: "postal_code", class: "form-control" %>
    </div>
    <div class="field mb-3">
      <i class="bi bi-geo-alt-fill"></i>
      <%= f.label :address, "住所" %>
      <%= f.text_field :address, id: "restaurant_address", autocomplete: "address", class: "form-control"  %>
    </div>
    <div class="field mb-4">
      <i class="bi bi-globe2"></i>
      <%= f.label :country, "どこの国の料理が食べられる？" %>
      <%= f.text_field :country_name, id: "restaurant_country", value: @country ? @country.name : nil, class: "form-control"  %>
      <%= f.hidden_field :country_id, id: "restaurant_country_id" %>
      <div>【該当する国をクリックしてください】</div>
      <div id="search-result"></div>
    </div>
    <div class="field mb-3">
      <i class="bi bi-image"></i>
      <%= f.label :image, "お店の外観"%>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <div id="preview-image" class="mb-3"></div>
    <div class="field mb-3">
      <i class="bi bi-pencil-fill"></i>
      <%= f.label :memo, "メモ・感想" %>
      <%= f.text_area :memo, class: "form-control" %>
    </div>
    <div class="field mb-3">
      <%= f.submit '登録', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
  