<%= link_to "新しいお店をみんなに知らせる", new_restaurant_path, data: {"turbolinks" => false} %>
<%= link_to "決めてもらう", restaurant_path(Restaurant.offset(rand(Restaurant.count)).first), data: {"turbolinks" => false} %>
<%= link_to "現在周辺のお店を探す", search_restaurant_by_gps_restaurants_path, data: {"turbolinks" => false} %>
<br>
店名・住所検索
<%= search_form_for @q, url: search_restaurant_by_address_restaurants_path do |f| %>
  <%= f.label :name_or_address_cont, '店名か住所(スペースで複数単語検索できます)' %>
  <%= f.search_field :name_or_address_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>
<br>
# 新しく加えられた順に表示したい
<% @restaurants.each do |r| %>
  <table>
      <tr>
          <td><%= r.name %></td>
          <td><%= r.postal_code %></td>
          <td><%= r.address %></td>
          <td><%= r.memo %></td>
          <td><%= r.country.name %></td>
          <td><%= link_to "詳細", r, data: {"turbolinks" => false} %></td>
      </tr>
  </table>
<% end %>