<%= render "shared/flash_messages" %>
<div class="text-center pt-5">
  <button class="btn btn-warning btn-lg m-2 focus-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRestaurantSearch" aria-expanded="false" aria-controls="collapseRestaurantSearch">
    <i class="bi bi-search"></i>&ensp;お店を探す
  </button>
  <%= link_to new_restaurant_path, data: {"turbolinks" => false}, class:"btn btn-warning btn-lg m-2 focus-button" do %>
    <i class="bi bi-chat-left-dots-fill"></i>&ensp;新しくお店を登録する
  <% end %>
</div>
<div class="collapse" id="collapseRestaurantSearch">
  <div class="card card-body m-2">
    <label class="search-label m-2 text-center btn btn-dark">
      <i class="bi bi-search"></i>&ensp;キーワードで検索(店名または住所)
      <%= search_form_for @q, url: search_restaurant_by_keywords_restaurants_path do |f| %>
        <%= f.search_field :name_or_address_cont, placeholder:"スペースでAND検索可能", style: "width: 50%;" %>
        <%= f.submit '検索', class: "btn btn-light" %>
      <% end %>
    </label>
    <div class="row justify-content-center no-padding-bottom">
      <%= link_to restaurant_path(Restaurant.offset(rand(Restaurant.count)).first), data: {"turbolinks" => false}, class:"btn btn-dark col-md-3 m-2" do %>
        <i class="bi bi-dice-3"></i>&ensp;ランダムで探す
      <% end %>
      <%= link_to search_restaurant_by_gps_restaurants_path, data: {"turbolinks" => false}, class:"btn btn-dark col-md-3 m-2" do %>
        <i class="bi bi-geo-alt"></i>&ensp;現在地周辺のお店を探す
      <% end %>
      <%= link_to search_restaurant_by_map_restaurants_path, class: "btn btn-dark col-md-3 m-2" do %>
        <i class="bi bi-map"></i>&ensp;国から探す
      <% end %>
    </div>
  </div>
</div>

<div class="container px-4 px-lg-5 mt-5">
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
  <% @restaurants.each do |r| %>
    <div class="restaurant-box col mb-5">
      <div class="card h-100">
        <div class="text-center">
          <div class="restaurant_image">
            <% if r.image? %>
              <%= image_tag r.image.card.url, class:'restaurant-img img-fluid mx-auto rounded-top' %>
            <% else %>
              <%= image_tag "https://#{ENV['AWS_BUCKET_NAME']}.s3.#{ENV['AWS_REGION']}.amazonaws.com/app-images/noimage.png", size: :card, class:'restaurant-img img-fluid mx-auto rounded-top' %>
            <% end %>
          </div>
        </div>
        <div class="card-body p-4">
          <div class="text-center">
            <h5 class="fw-bolder"><%= r.name %></h5>
            <p><%= r.address %></p>
            <p><%= r.country.name %></p>
            <p>★ : <%= r.average_star %>/5</p>
          </div>
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
          <%= link_to "詳細", r, data: {"turbolinks" => false}, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
