<%= form_with model: @restaurant do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.label :name, "お店の名前" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :postal_code, "郵便番号" %>
    <%= f.text_field :postal_code %>
  </div>

  <div>
    <%= f.label :prefecture_code, "都道府県名" %>
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name %>
  </div>

  <div>
    <%= f.label :city, "市区町村" %>
    <%= f.text_field :city %>
  </div>

  <div>
    <%= f.label :street, "わからん" %>
    <%= f.text_field :street %>
  </div>

  <div>
    <%= f.label :other_address %>
    <%= f.text_field :other_address %>
  </div>

  <div>
    <%= f.label :image, "お店の外観"%>
    <%= f.file_field :image %>
  </div>
  <div id="preview-image"></div>

  <div>
    <%= f.label :memo, "メモ" %>
    <%= f.text_area :memo %>
  </div>

  <div>
    <%= f.submit '登録' %>
  </div>
<% end %>

<%= link_to "一覧に戻る", restaurants_path %>
