<div class="container">
  <%= link_to :back, class:"btn btn-dark mb-3 mt-3" do %>
    <i class="bi bi-arrow-left"></i>一つ前に戻る
  <% end %>
  <div class="m-1"><i class="bi bi-question-circle"></i>
    &ensp;<%= image_tag "https://rakugakiicon.com/ri/wp-content/uploads/2015/04/c163dce0b591b8f9ca43a73ea329a04d.png", size:"32x32" %> をクリックするとそのお店の詳細ページを見れます。
  </div>
  <div id='map' class="mb-3"></div>

  <script>
  let map;
  let mainMarker;
  let marker =[];
  let infoWindow = [];
  let restaurants = <%= raw @restaurants.to_json %>;

  function initMap(){
    let markerData = <%= raw @restaurants.to_json %>;
    navigator.geolocation.getCurrentPosition(function(position){
      let latlng = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      map = new google.maps.Map(document.getElementById('map'), {
        center: latlng,
        zoom: 14
      });

      mainMarker = new google.maps.Marker({
        map: map,
        position: latlng
      });

      for(let i = 0; i < markerData.length; i++) {
        const id = markerData[i]['id'];
        const markerLatLng = new google.maps.LatLng({lat: markerData[i]['latitude'], lng: markerData[i]['longitude']});
        
        const icon = {
          url: "https://rakugakiicon.com/ri/wp-content/uploads/2015/04/c163dce0b591b8f9ca43a73ea329a04d.png",
          scaledSize: new google.maps.Size(32, 32),
        };

        marker[i] = new google.maps.Marker({
          position: markerLatLng,
          map: map,
          icon: icon
        });

        infoWindow[i] = new google.maps.InfoWindow({
          content: `<a href= "/restaurants/${id}" data-turbolinks="false">${markerData[i]['name']}</a>`
        });

        markerEvent(i);
      }
    });
  }

  function markerEvent(i) {
    marker[i].addListener('click',function(){
      infoWindow[i].open(map, marker[i]);
    });
  }

  document.addEventListener('turbolinks:load', function(){
    initMap();
  });
  </script>

  <script async defer
                src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap&libraries=marker">
  </script>

  <style>
    #map {width: 100%; 
          height: calc(100vh - 100px);
        }
  </style>
</div>
