<%= link_to "一覧に戻る", restaurants_path %>
<p>お店の名前</p>
<div class="restaurant_name"><%= @restaurant.name %></div>
<p>住所</p>
<div class="restaurant_address"><%= @restaurant.address %></div>
<p>画像</p>
<div class="restaurant_image">
  <% if @restaurant.image? %>
    <%= image_tag @restaurant.image.url %>
  <% else %>
    <%= image_tag "noimage.png" %>
  <% end %>
</div>
<p>メモ</p>
<div class="restaurant_memo"><%= @restaurant.memo %></div>
<% if current_user.id == @restaurant.user.id %>
  <li><%= link_to "削除", restaurant_path(@restaurant.id), method: :delete %></li>
  <li><%= link_to "編集", edit_restaurant_path(@restaurant.id) %></li>
<% end %>

<%= form_with model:[@restaurant, @report] do |f| %>
  <ul>
    <li><%= f.label :title, "タイトル" %></li>
    <li><%= f.text_field :title, class: "" %></li>
    <li><%= f.label :recommend, "おすすめの料理" %></li>
    <li><%= f.text_field :recommend, class: "" %></li>
    <li><%= f.label :memo, "メモ" %></li>
    <li><%= f.text_area :memo, rows:'5', placeholder: "このお店の感想を書こう！", class:"" %></li>
    <li><%= f.label :image, "写真" %></li>
    <li><%= f.file_field :image, class:"" %></li>
    <li><div id="preview-image"></div></li>
  </ul>
    <div class="text-right">
      <%= f.submit "登録", class: "btn btn-primary mt-3 mb-3" %>
    </div>
<% end %>

<% if @restaurant_reports.nil? %>
  投稿されたレポはまだありません。
<% else %>
  <% @restaurant_reports.each do |report| %>
    <ul>
      <li><%= report.user.username %></li>
      <li><%= report.title %></li>
      <li><%= report.recommend %></li>
      <li><%= image_tag report.image.url %></li>
      <li><%= report.memo %></li>
      <% if current_user.id == report.user.id %>
        <li><%= link_to "削除", restaurant_report_path(report.restaurant, report), method: :delete %></li>
        <li><%= link_to "編集", edit_restaurant_report_path(@restaurant, report) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
