  <%= link_to "一覧に戻る", restaurants_path %>
  <p>お店の名前</p>
  <div class="restaurant_name"><%= @restaurant.name %></div>
  <p>住所</p>
  <div class="restaurant_address"><%= @restaurant.address %></div>
  <p>画像</p>
  <div class="restaurant_image">
    <% if @restaurant.image? %>
      <%= image_tag @restaurant.image.url %>
    <% else %>
      <%= image_tag "noimage.png" %>
    <% end %>
  </div>
  <p>メモ</p>
  <div class="restaurant_memo"><%= @restaurant.memo %></div>
  <%= link_to "削除", restaurant_path(@restaurant.id), method: :delete %>
  <%= link_to "編集", edit_restaurant_path(@restaurant.id) %>
