<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1UF4jSg_-lKA8z8Af0bZ6OkptHc8v4rQ&ehbc=2E312F" width="640" height="480"></iframe>
<h1>検索結果</h1>
<% @restaurants.each do |r| %>
  <table>
      <tr>
          <td><%= r.name %></td>
          <td><%= r.postal_code %></td>
          <td><%= r.address %></td>
          <td><%= r.memo %></td>
          <td><%= r.country.name %></td>
          <td><%= link_to "詳細", r, data: {"turbolinks" => false} %></td>
      </tr>
  </table>
<% end %>