<p>※このメールは自動送信メールです。</p>
<p><%= @resource.email %> 様</p>
<p>foodtravel事務局です。</p>
<p>この度、お客様のパスワード変更リクエストがありました。<br>
下記のリンクより、パスワードの変更手続きをお願いいたします。</p>
<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>リンクをクリックし、新しいパスワードを作成するまでは、パスワードは変更されませんのでご安心ください。</p>
<p>今後ともどうぞよろしくお願いいたします。</p>
<br>
<p>覚えがないのにこのメールが届いたという方<br>
ご迷惑をおかけし申し訳ありません。大変お手数ですが下記メールアドレスまでご連絡をお願いいたします。<br>
</p>
<p><%= ENV['APP_EMAIL'] %></p>
<br>
<p>――――――――――――――――――――――――――――――</p>
foodtravel<br>
URL ： <%= ENV['APP_URL'] %><br>
Mail ： <%= ENV['APP_EMAIL'] %><br>
<p>――――――――――――――――――――――――――――――</p>