<div class="container">
  <%= link_to :back, class:"btn btn-dark mb-3 mt-3" do %>
    <i class="bi bi-arrow-left"></i>一つ前に戻る
  <% end %>
  <%= form_with model:[@restaurant, @report] do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <ul class="list-unstyled">
      <li><%= f.label :title, "タイトル" %><span class="text-danger"> ※必須</span></li>
      <li class="mb-3"><%= f.text_field :title, class: "form-control" %></li>
      <li><%= f.label :recommend, "おすすめの料理" %></li>
      <li class="mb-3"><%= f.text_field :recommend, class: "form-control" %></li>
      <li><%= f.label :memo, "メモ" %><span class="text-danger"> ※必須</span></li>
      <li class="mb-3"><%= f.text_area :memo, placeholder: "このお店の感想を書こう！", class: "col form-control" %></li>
      <li><%= f.label :image, "写真" %></li>
      <li class="mb-3"><%= f.file_field :image, class: "form-control" %></li>
      <div id="preview-image"></div>
    </ul>
      <div class="d-flex justify-content-end">
        <%= f.submit "登録", class: "btn btn-primary col-md-3" %>
      </div>
  <% end %>
</div>
